/* 
    Document   	: Client.css
    Created on 	: Apr 10, 2015, 17:48:08 PM
    Author     	: Syed Nurul Islam
	Mail		:
    Description:
        Purpose of the stylesheet follows.
		Show the Client page style
*/

.mss_save{width:auto !Important; padding:5px 10px; background-color:#00b0d4; color:white; border:0px;}
