/* 
    Document   : product
    Created on : Apr 10, 2015, 11:48:08 AM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

 #warranty-period-wrapper label{
          display:block;
      }
      #product_warranty_period_year{
          display: inline;
          width: 49%;
      }
      #product_warranty_period_month{
          display: inline;
          width: 49%;
      }
      #maintenance-period-wrapper label{
          display:block;
      }
      #product_maintenance_period_year{
          display: inline;
          width: 49%;
      }
      #product_maintenance_period_month{
          display: inline;
          width: 49%;
      }
      input[type="file"] {
        display: input-block;
        width: 100%;
        height: 35px;
        /* opacity: 0; 
        position:absolute;
        left:0;
        */
        cursor:pointer;    
        border: 1px solid #ddd;
        border-radius:5px;
        display:inline-block;    
        padding:0px 40px 35px 0px;
    
    }

