html body, button, input, label, select, td, th, textarea, span {
    font-family: tahoma,verdana,arial,sans-serif;
    font-size: 15px;
}

body {
    background: #fff;
   /* color: #e1e1e1; */
    direction: ltr;
}
body .container-fluid {
   
}
input, select {
    width: 100%;
}
label {
	font-weight: normal;
    width: 100%;
}

.footer {
    background: #0D446E;
    color: #fff;
	margin-top: 10px;
}
.footer p {
    margin: 5px 0;
}
.header {
    background: #ffffff;
	border-bottom: 2px solid #0D446E;
}
.header-top {
   
}
.header-top-left {
   
}
.header-top-right {
    
}
.logo img {
    width: 100%;
}
.user-menu {
    float: right;
    margin-top: 26px;
}
.user-menu > ul {
	float:left;
    list-style: outside none none;
    padding: 0;
	position:relative;
}
.user-menu ul li a {
    color: #0D446E;
    font-size: 16px;
}
.user-menu ul li a:hover {
    text-decoration: none;
}
.user-menu ul li:hover > ul{
	display:block
}

.user-menu ul ul {
    background: #e1e1e1;
    display: none;
    left: -96px;
    list-style: outside none none;
    margin: 0;
    padding: 0px;
    position: absolute;
    text-align: center;
	z-index: 999;
}
.user-menu ul ul li {
    border-bottom: 1px solid #eee;
}
.user-menu ul ul li a {
    color: #0D446E !important;
	line-height: 35px;
    padding: 0 40px;
}

#mss-main-menu{
	
	float:right;
}

.main-menu > ul, .sub-menu ul {
   /* border-top: 1px solid #0D446E;  margin: 0 0 2px 0;*/
    float: left;
    list-style: outside none none;
   
    padding: 0;
    width: 100%;
}
.main-menu ul li, .sub-menu ul li {
	float: left;
	cursor: pointer;
}
.main-menu ul li:hover, .sub-menu ul li:hover {
    background: #fff;
	color: #FDB813 !important;
}
.main-menu ul li:hover a, .sub-menu ul li:hover a {
	color: #FDB813 !important;
}

.main-menu ul li.active, .sub-menu ul li.active {
    background: #fff;
}

.main-menu ul li.active a, .sub-menu ul li.active a {
	color: #FCB813 !important;
}
.main-menu ul li a, .sub-menu ul li a {
    color: #fff;
    padding: 7px 25px;
}
.sub-menu ul li a {
    color: #fff;
    padding: 7px 25px;
	line-height: 33px;
}
.main-menu ul li a:hover, .sub-menu ul li a:hover {
    text-decoration: none;
}
.main-menu ul li:last-child {
    float: right;
}
#maincontent {
    
}
.content {
    min-height: 445px;
	margin-top:20px;
	padding: 15px;
	border: 2px solid #0D446E;
	border-radius:10px;
}
.page-title{
    
	margin-top:20px;
	padding: 5px;
	border: 2px solid #0D446E;
	border-radius:10px;
	
}
.page-title img{
    
	
}
.page-title h4{
    
	margin:6px 0px;

	
}
.title {
    border-bottom: 1px solid ##0D446E;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    color: #333;
	width: 100%;
	margin-bottom: 10px;
}

.row.new-schedule, .row.new-client, .row.manage-profile {
    border: 1px solid ##0D446E;
    border-radius: 3px;
    margin: 10px 5%;
}

.dashboard-left {
	color: #000;
	padding-bottom: 10px;
    padding-top: 10px;
}
.dashboard-right {
	padding-bottom: 10px;
    padding-top: 10px;
}
.dashboard-left h2 {
    font-size: 20px;
    margin: 0 0 5px;
}

table thead th {
    background-color: #e1e1e1;
    color: #000;
    font-weight: normal;
}

.modal-scrollable .modal.fade.in {
    top: 40%;
}
.modal-header > h3#myModalLabel {
    border-bottom: 0px solid #fddb88;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}
.modal .modal-header {
    border-bottom: 1px solid #97989b;
	padding: 10px 20px;
}
.modal-scrollable .modal {
	width: 450px;
	border: 1px solid #97989b;
}
.modal .modal-body {
    padding: 10px 20px;
    position: relative;
}
.modal .control-group {
    padding-bottom: 5px;
}
.modal label.control-label {
    margin-bottom: 0;
    padding: 3px 10px 0 0;
    text-align: right;
    width: 33%;
}
.modal .controls input[type="text"] {
    border: 1px solid #000;
    border-radius: 10px;
    line-height: 12px;
    padding: 3px 8px;
    width: 56%;
}
.modal .controls .save { margin: 5px 0 0 133px; padding: 0px; }
.modal .controls .save input { background: url('../images/icon/icon_save.png') no-repeat; border: 0 none;height: 60px;
    margin: 0; padding: 0; text-indent: -1000000px; width: 60px;
}
.modal .modal-header .close{ background:none repeat scroll 0 0 #002855;color:#fff;float:right;font-size:22px;
    font-weight: normal;height: 22px;line-height: 1;opacity: 1;padding: 0 4px !important;text-shadow: 0 1px 0 #fff;
    margin-top: -10px;border-radius: 5px;
}
.modal .modal-header .close:hover{background:none repeat scroll 0 0 #002855;color:#fff;}
.checked{background:#eee;}
.modal.dev-stage-tem-review .modal-body{padding:15px 20px 10px;position:relative;}
.modal-scrollable .modal.dev-stage-tem-review {border:1px solid #bfc1b3; border-radius:0;margin-left:-310px;width:600px;}

.modal-scrollable .form-group {
    margin-bottom: 10px;
}
.modal-scrollable .form-control {
    background-color: #f6f6f6;
}

.all-sub-menu {
    background: #fff;
    margin-bottom: 0px;
}
.sub-menu {
    background: #e1e1e1;
}
.sub-menu ul {
    border-top: 0px solid #eee;
}
.sub-menu ul li.active a {
    color: #000 !important;
}
.sub-menu ul li a {
    color: #000;
}
.sub-menu ul li:hover a {
    color: #000 !important;
}
.modal-scrollable .hide{display:block !important}

.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}
.navbar-default {
    background-color: transparent;
    border-color: none;
}
.navbar {
    border-radius: 0px;
}
.navbar {
    border: 0px solid transparent;
    margin-bottom: 0px;
    min-height: 33px;
    position: relative;
}
.navbar-collapse {
    border-top: 0px solid transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    overflow-x: visible;
    padding-left: 0px;
    padding-right: 0px;
}
.header .nav > li > a {
   
}
.navbar-default .main-menu .navbar-nav > li > a {
    
	background-color: #0d446e;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-right: 4px;
    padding: 8px 15px;
    text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #0D446E;
    color: #FCB813; 
}
.navbar-toggle {
    margin-bottom: 0px;
    margin-right: 0px;
}

.success-font-color {
    color: green;
}
.error-font-color {
    color: red;
	font-size: 11px;
	line-height:24px;
}
.navbar-default .main-menu .navbar-nav > li.active > a, .navbar-default .main-menu .navbar-nav > li.active > a:hover{color:#FDB813;}

.new-button {
    float: right;
    padding: 3px 12px;
	margin-bottom: 5px;
}
.plus-icon {
    margin-right: 10px;
    width: 17px;
}
.create {
    background: #595b60;
}
.cancel {
    background: #85868a;
}
.create, .cancel {
    color: #fff;
}
.create:hover, .cancel:hover {
    color: #fff;
}

.modal-scrollable .modal.product {
    width: 650px;
	margin-left: -330px;
}
.product .bootstrap-filestyle .form-control  {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.product .group-span-filestyle.input-group-btn {
    padding-left: 10px;
}
.product .group-span-filestyle .btn.btn-default {
    background: #d8d8da none repeat scroll 0 0;
    border: medium none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.product .group-span-filestyle .glyphicon.glyphicon-folder-open {
    display: none;
}

.template ul.dropdown-menu li:first-child {
    display: none;
}
.width100 {
    width: 100%;
}
.modal-open .modal.template {
   
}
.searchbox {
    margin-bottom: 10px;
}
.searchbox #search-header{
	background:#e1e1e1;
	padding: 5px;
	text-align:center;
}
.searchbox .hiders {
    border-bottom: 2px solid #e1e1e1;
    border-left: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
    padding: 10px 15px 15px;
    width: 100%;
}
#ui-datepicker-div {
    z-index: 9999 !important;
}
.ui-draggable .ui-dialog-titlebar {
    display: none;
}
.ui-dialog {
    padding: 0px !important; 
}
.ui-dialog #duplicate-modal.ui-dialog-content {
    padding: 0px;
}
#duplicate-modal p {
    margin: 0px;
}
#duplicate-modal .modal-footer {
    text-align: left;
}
.modal-scrollable .modal.schedule {
    width: 850px;
	margin-left: -414px;
}
.generate_schedule .bootstrap-filestyle .form-control {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.generate_schedule .group-span-filestyle.input-group-btn {
    padding-left: 10px;
}
.generate_schedule .group-span-filestyle .btn.btn-default {
    background: #d8d8da none repeat scroll 0 0;
    border: medium none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.generate_schedule .group-span-filestyle .glyphicon.glyphicon-folder-open {
    display: none;
}
.fs-wrap {
    width: 100%;
}
.fs-label-wrap {
    background: #f6f6f6 none repeat scroll 0 0;
    border-radius: 4px;
}
.fs-label-wrap .fs-label {
    padding: 10px 22px 10px 8px;

}
.fs-search input {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 6px;
    width: 50%;
}
.fs-search select {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-left: 2%;
    padding: 4px;
    width: 48%;
}
.bootstrap-select.btn-group .dropdown-menu li:first-child {
    position: relative;
	display:none;
}
.fs-wrap.multiple .fs-option.disabled .fs-checkbox i {
    background-color: rgb(17, 169, 17);
    border-color: transparent;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
}