html body, button, input, label, select, td, th, textarea, span {
    font-family: tahoma,verdana,arial,sans-serif;
    font-size: 15px;
}

body {
    background: #fff;
   /* color: #e1e1e1; */
    direction: ltr;
}
body .container-fluid {
    padding: 0;
    width: 80%;
}
input, select {
    width: 100%;
}
label {
	font-weight: normal;
    width: 100%;
}

.footer {
    background: #0D446E;
    color: #fff;
	margin-top: 10px;
}
.footer p {
    margin: 5px 0;
}
.header {
    background: #0D446E;
}
.header-top {
    padding: 10px 0;
}
.header-top-left {
    float: left;
    width: 50%;
}
.header-top-right {
    float: left;
    width: 50%;
}
.logo img {
    width: 100%;
}
.user-menu {
    float: right;
}
.user-menu > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
	position:relative;
}
.user-menu ul li a {
    color: #fff;
    font-size: 16px;
}
.user-menu ul li a:hover {
    text-decoration: none;
}
.user-menu ul li:hover > ul{
	display:block
}

.user-menu ul ul {
    background: none repeat scroll 0 0 #fff;
    display: none;
    left: -87px;
    list-style: outside none none;
    margin: 0;
    padding: 0px;
    position: absolute;
    text-align: center;
	z-index: 999;
}
.user-menu ul ul li {
    border-bottom: 1px solid #eee;
}
.user-menu ul ul li a {
    color: #0D446E !important;
	line-height: 35px;
    padding: 0 40px;
}

.main-menu > ul, .sub-menu ul {
    border-top: 1px solid #eee;
    float: left;
    list-style: outside none none;
    margin: 0 0 2px 0;
    padding: 0;
    width: 100%;
}
.main-menu ul li, .sub-menu ul li {
	float: left;
	cursor: pointer;
}
.main-menu ul li:hover, .sub-menu ul li:hover {
    background: #fff;
	color: ##0D446E !important;
}
.main-menu ul li.active, .sub-menu ul li.active {
    background: #fff;
}
.main-menu ul li:hover a, .sub-menu ul li:hover a {
	color: ##0D446E !important;
}
.main-menu ul li.active a, .sub-menu ul li.active a {
	color: ##0D446E !important;
}
.main-menu ul li a, .sub-menu ul li a {
    color: #fff;
    padding: 7px 25px;
}
.sub-menu ul li a {
    color: #fff;
    padding: 7px 25px;
	line-height: 33px;
}
.main-menu ul li a:hover, .sub-menu ul li a:hover {
    text-decoration: none;
}
.main-menu ul li:last-child {
    float: right;
}
#maincontent {
    min-height: 445px;
}
.title {
    border-bottom: 1px solid ##0D446E;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    color: #333;
	width: 100%;
	margin-bottom: 10px;
}

.row.new-schedule, .row.new-client, .row.manage-profile {
    border: 1px solid ##0D446E;
    border-radius: 3px;
    margin: 10px 5%;
}

.dashboard-left {
	color: #000;
	padding-bottom: 10px;
    padding-top: 10px;
}
.dashboard-right {
	padding-bottom: 10px;
    padding-top: 10px;
}
.dashboard-left h2 {
    font-size: 20px;
    margin: 0 0 5px;
}

table thead th {
    background-color: #e1e1e1;
    color: #000;
    font-weight: normal;
}

.modal-scrollable .modal.fade.in {
    top: 40%;
}
.modal-header > h3#myModalLabel {
    border-bottom: 1px solid #fddb88;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
    width: 88%;
}
.modal .modal-header {
    border-bottom: 0px solid #e5e5e5;
}
.modal-scrollable .modal {
	width: 450px;
	box-shadow: 0;
	border: 1px solid #000;
}
.modal .modal-body {
    padding: 10px 30px 20px 30px;
    position: relative;
}
.modal .control-group {
    padding-bottom: 5px;
}
.modal label.control-label {
    margin-bottom: 0;
    padding: 3px 10px 0 0;
    text-align: right;
    width: 33%;
}
.modal .controls input[type="text"] {
    border: 1px solid #000;
    border-radius: 10px;
    line-height: 12px;
    padding: 3px 8px;
    width: 56%;
}
.modal .controls .save { margin: 5px 0 0 133px; padding: 0px; }
.modal .controls .save input { background: url('../images/icon/icon_save.png') no-repeat; border: 0 none;height: 60px;
    margin: 0; padding: 0; text-indent: -1000000px; width: 60px;
}
.modal .modal-header .close{ background:none repeat scroll 0 0 #002855;color:#fff;float:right;font-size:22px;
    font-weight: normal;height: 22px;line-height: 1;opacity: 1;padding: 0 4px !important;text-shadow: 0 1px 0 #fff;
    margin-top: -10px;border-radius: 5px;
}
.modal .modal-header .close:hover{background:none repeat scroll 0 0 #002855;color:#fff;}
.checked{background:#eee;}
.modal.dev-stage-tem-review .modal-body{padding:15px 20px 10px;position:relative;}
.modal-scrollable .modal.dev-stage-tem-review {border:1px solid #bfc1b3; border-radius:0;margin-left:-310px;width:600px;}

.all-sub-menu {
    background: #fff;
    min-height: 70px;
}
.sub-menu {
    background: #e1e1e1;
}
.sub-menu ul {
    border-top: 0px solid #eee;
}
.sub-menu ul li.active a {
    color: #000 !important;
}
.sub-menu ul li a {
    color: #000;
}
.sub-menu ul li:hover a {
    color: #000 !important;
}
.modal-scrollable .hide{display:block !important}

.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}
.navbar-default {
    background-color: transparent;
    border-color: none;
}
.navbar {
    border-radius: 0px;
}
.navbar {
    border: 0px solid transparent;
    margin-bottom: 0px;
    min-height: 33px;
    position: relative;
}
.navbar-collapse {
    border-top: 0px solid transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    overflow-x: visible;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-default .main-menu .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #0D446E;
}
.navbar-toggle {
    margin-bottom: 0px;
    margin-right: 0px;
}

.success-font-color {
    color: green;
}
.error-font-color {
    color: red;
	font-size: 11px;
	line-height:24px;
}
.navbar-default .main-menu .navbar-nav > li.active > a, .navbar-default .main-menu .navbar-nav > li > a:hover{color:#0D446E;}
