
.form-signin {
	max-width: 290px;  
}
#login-image{
	text-align: center;
}
#login-box{
	padding: 15px 15px 10px;
	background-color: #fff;
	border: 1px solid #ce1719;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"], .form-signin input[type="password"] , .form-signin input[type="submit"]{
	font-size: 16px;
	height: 35px;
	border:0px solid #fff;
	padding: 2px 5px;
	width:258px;
}
.form-signin input[type="submit"]{cursor:pointer;}
#submit-wrapper{margin-top: 5px;}
.form_row button.btn {
	background-color: #006DCC;
	background-image: linear-gradient(to bottom, #0088CC, #0044CC);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	color: #FFFFFF;
	font-size: 14px;
	margin-left: 24%;
	padding: 4px 0;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	width: 30%;
}
.user_name_error{
	color: #fdb813;
	right: 290px;
	margin-top: -25px;
	padding: 3px;
	position: absolute;
	width: 200px;
}
.password_error{
	color: #fdb813;
	right: 380px;
	margin-top: -25px;
	position: absolute;
}
#forgotPassword {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}
#user_password_error-wrapper{color: #fdb813;font-size: 13px;line-height: 12px;margin-top: 5px;}

