.grey .accordion{font: bold 13px Arial, sans-serif; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
.grey .accordion, .grey .accordion li {margin: 0; padding: 0; border: none;}

.grey .accordion a.dcjq-parent.active {}
.grey .accordion a .dcjq-icon {position: absolute; top: 50%; left: 10px; width: 34px; margin-top: -17px; height: 34px; background: url(images/arrow_grey_right.png) no-repeat 0 center;}
.grey .accordion a.dcjq-parent.active .dcjq-icon {left: 6px;background: url(images/arrow_grey_down.png) no-repeat 0 center;}
.grey .accordion a:hover {background: #fff; color: #990000;}
.grey .accordion a:active{}

.grey .accordion li a {
	background: #fff;
    border-radius: 5px;
    display: block;
    font-weight: normal;
    line-height: 16px;
    margin: 0 5px 5px;
    padding: 5px 5px 5px 25px;
    position: relative;
    text-decoration: none;
	color: #002855;
}

.grey .accordion li a:hover {
    background: #fff;
	color: #002855;
}

.grey .accordion li ul li a {
    background: #ccd3dc;
    border-radius: 5px;
    display: block;
    font-weight: normal;
    line-height: 16px;
    margin: 0 5px 2px 15px;
    padding: 5px;
    position: relative;
    text-decoration: none;
	color: #002855;
}
.grey .accordion li ul li a:hover {
    background: #ccd3dc;
	color: #002855;
}
.grey ul.accordion li ul li a.active_menu {
	color: #fff;
}